<!DOCTYPE html>
<html>
  	<head>
	    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
    	<h1>Your book has sold, <%= @user.name %>!</h1>
		<p>Check out your next steps for delivery.</p>
		<ol type="1">
  			<li><%= "Grab your #{@order.listing.subject}" %></li>
  			<li>Please be ready for an Echtchange representative to pick up your item during hours listed below.</li>
        <li>Please be available to receive your item during this time as well in the case it does not sell.</li>
  			<li>Check out Echtchange to buy something with your new earnings or even to sell more of your stuff! </li>
		</ol>

    <h2>Pick Up Hours:</h2>
    <ol type="1">
      <li>Fri 9pm-12am</li>
    </ol>

		<p>Looking forward to seeing you soon!</p>

		<br>

		<p>Questions? Email us at echtchange@gmail.com</p>

</html>