<!DOCTYPE html>
<html>
  	<head>
	    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
    	<h1>Your item will be on its way soon, <%= @user.name %>!</h1>
		<p>Check out your next steps below to know when you'll receive your book.</p>
		<ol type="1">
  			<li>Please be available to purchase your item upon delivery by an Echtchange representative during the hours listed below.</li>
        <li>We take Credit Card, Venmo, or Cash.</li>
  			<li>Use Echtchange to sell some of your old stuff or to see if anything new has been posted you'd want to buy! </li>
		</ol>

    <h2>Delivery Hours:</h2>
    <ol type="1">
      <li>Fri 9pm-12am</li>
    </ol>

    <p>Looking forward to seeing you soon!</p>

    <br>

    <p>Questions? Email us at echtchange@gmail.com</p>
		
	</body>
</html>