<div class="container">
	<br>

	<div id="how-to">
    <div class="homepage">
      <span><%= image_tag("echtlogo.png", alt: "Echtchange", style: "display: block; margin: 0 auto;") %></span>
      <h2>About Us</h2>
      <hr>
      <div class="center">
        <div class="row">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-book fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Our Story</h3>
            <p> What is the "Echt" in Echtchange? Echt is a English word adopted from German meaning genuine, honest, and open, which is the community we seek to create on our site. We sought to facilitate a localized marketplace that makes buying and selling hassle free and fun, thus Echtchange was born.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Price Breakdown</h3>
            <p>We take $1.50 from the Buyer and the Seller as an Echt way to distribute our costs. There is a 3% charge on sales that are purchased with credit card for Square's merchant services. </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Contact Us</h3>
            <p>Have feedback? Interested in working on Echtchange? We love hearing from our community as we're constantly looking to make our site and service better!</p>
            <p style="color: #5CB85C">Email us at echtchange@gmail.com</p>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  </div>
</div>