<div class="container">

	<li><%= link_to "AAS", root_path(:subject => "AAS") %></li>
    <li><%= link_to "CHM", root_path(:subject => "CHM") %></li>
    <li><%= link_to "CHM", root_path(:subject => "CHM") %></li>
    <li><%= link_to "CHM", root_path(:subject => "CHM") %></li>

</div>