<div class="container">
  <br>

  <div id="how-to">
    <span><%= image_tag("echtlogo.png", alt: "Echtchange", style: "display: block; margin: 0 auto;") %></span>
    <h2>Our Simple Process</h2>
    <hr>
    <div class="center">
      <div class="row">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Browse</h3>
          <p>Quickly search for your Item by Category from the navbar and find the best deals on local goods. All without having to make an account!</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Buy</h3>
          <p>Buy your item on our site, receive an email regarding delivery time of your item and wait for its delivery. We will allow for inspection upon delivery and you won't be charged unless you're satisfied. It's that easy!</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Sell</h3>
          <p>Post your item on our site, upon its sale receive an email regarding its delivery pickup time, wait for pick up, and when the Buyer decides to buy it you will receive your payment. Otherwise, the item will be returned to you and will be automatically relisted on the site.</p>
        </div>
      </div>   
    </div>
  </div>

  <br>

  <div id="why-us">
    <div class="homepage">
      <h2>How Do I Get Started?</h2>
      <hr>
      <% if user_signed_in? %>
        <p>You're signed in! Check out the info below on how Echtchange works!</p>
      <% else %>
        <p>Check out the info above on how Echtchange works! If you'd like to begin buying and/or selling books, click the link below to sign up with your Princeton email!</p>
        <br>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success btn-lg", style: "display: block; width: 130px; margin: 0 auto; font-family: Avenir Next;" %>
      <% end %>
      <br>
    </div>
  </div>
  <br>
</div>