<div class="container">
  <br>

  <div id="how-to">
    <div class="homepage">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
      </span>
      <h2>How Do I Get Started?</h2>
      <hr>
      <% if user_signed_in? %>
        <p>You're signed in so now all you need to do is click on which textbook you'd like to purchase or if you would like to sell a textbook click "Create New Listing" under the "Seller Account" dropdown button in the navigation bar at the top.</p>
      <% else %>
        <p>You can check out all of the books currenty for sale without having an account, but if you're itching to get in on the action and start buying some of the books or even selling your own books click the link below to sign up!</p>
        <br>
        <li><%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-danger btn-lg" %></li>
      <% end %>
      <br>
    </div>
  </div>

  <br>

  <!-- test comment change -->

  <div id="why-us">
    <div class="homepage">
      <h2>Why Use miDeal?</h2>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Local</h3>
          <p>You know what's cool about trading local? You can  and check out the item in person that same day. We're focused on creating solutions that create local trade communities.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Easy</h3>
          <p>Our process is easy and quick so you can get to listing and buying.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
          </span>
          <h3>Garage Sale</h3>
          <p>Who doesn't love the fun of heading to a Garage Sale or Flea Market on the weekends and seeing what cool stuff you can find or snagging that "thing" you'r missing for a great price.</p>
        </div>
      </div>
    </div> <!-- /container -->
  </div>
  <br>
</div>