@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: #ECF0F1;
	color: #333333;
	font-family: Arial;
}

.navbar-default {
	border-width: 0px;
  	border-radius: 0px;
	background-color: #2C3E50;
}

.navbar-default .navbar-brand {
	font-family: 'Lobster', cursive;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 32px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	color: #019285;
}

.navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover { 
	color: #FFFFFF; 
}

.alert-dismissable {
	margin-bottom: 0px;
}

.nav-pills > li > a {
	font-family: Arial;
	font-weight: bold;
	font-size: 17px;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

.jumbotron {
	background-image: url('https://dl.dropboxusercontent.com/s/nn5tufvjg0yppvg/jumbotron.jpg?dl=0');
	background-size: 1920px 700px;
	padding-top: 100px;
	padding-bottom: 100px;
	h1, h2 {
		font-family: 'Lobster', cursive;
		color: white;
		padding-left: 60px;
	}
}

#indexlist {
	background-color: gainsboro;
	padding-top: 30px;
	padding-bottom: 40px;
	top: 20px;
	bottom: 0px;
	border-radius: 10px;
	left: 10px;
}

#listingdisplay {
	left: 20px;
}

#coursesubjectbutton {
	padding-top: 10px;
	padding-left: 10px;
}

.btn-lg {
	font-size: 25px;
}

#how-to {
	background-color: #303233;
	font-family: 'Lobster', cursive;
}

#how-to .fa-stack {
	color: #2C3E50;
}

#how-to p {
	color: #FFFFFF;
	font-size: 25px;
	font-family: Arial;
}

#why-us {
	background-color: #2C3E50;
	font-family: 'Lobster', cursive;
}

#why-us p {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 25px;
}

.homepage {
	text-align: center;
}

.homepage h2, h3 {
	color: #019285;
	padding: 0px;
	font-size: 30px;
}

.homepage h2 {
	padding-top: 10px;
}

.homepage h3 {
	margin-top: 10px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300;
}

.homepage a {
	color: 	#FFFFFF;
}

.homepage a:hover {
	color: #303233;
	text-decoration: none;
	opacity: .8;
}

.homepage hr {
	border-color: #019285;
	width: 160px;
	margin-top: 15px;
}

@media (min-width: 1500px) {
	#how-to {
		margin-top: 0px;
		margin-right: -200px;
		margin-left: -200px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: -200px;
		margin-left: -200px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}

@media (max-width: 1500px) {
	#how-to {
		margin-top: -20px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}

@media (max-width: 991px) {
	#how-to {
		margin-top: -20px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}

@media (max-width: 767px) {
	#how-to {
		margin-top: -20px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}
