@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: #C8C8C8;
	/*#dfd7ca;*/
	color: #262626;
	font-family: Avenir Next;
}

.navbar-default {
	border-width: 0px;
  	border-radius: 0px;
	background-color: #262626;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*.navbar-default .navbar-brand {
	font-family: 'Lobster', cursive;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 32px;
}*/

.navbar-default .navbar-nav > li > a {
	font-family: Avenir Next;
	font-size: 20px;
	color: #737375;
}

.navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover { 
	color: #FFFFFF; 
}

.alert-dismissable {
	margin-bottom: 0px;
}

.nav-pills > li > a {
	font-family: Avenir Next;
	font-size: 20px;
	color: #737375;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

.jumbotron {
	background-image: url('jumbotron.jpg');
	/*'https://dl.dropboxusercontent.com/s/nn5tufvjg0yppvg/jumbotron.jpg?dl=0'); */
	background-size: 1920px 700px;
	padding-top: 100px;
	padding-bottom: 100px;

	font-family: Avenir Next;
	color: #FFFFFF;
	padding-left: 50px;
	h1 {
		font-weight: bold;
		margin-bottom: -10px;
	}
	h2 {
		font-weight: lighter;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	p {
		margin-bottom: 0px;
	}
}

#indexlist {
	background-color: #262626;
	padding-top: 30px;
	padding-bottom: 40px;
	top: 20px;
	bottom: 0px;
	border-radius: 10px;
	left: 10px;
}

#listingdisplay {
	left: 20px;
}

#coursesubjectbutton {
	padding-top: 10px;
	padding-left: 10px;
}

.btn-lg {
	font-size: 25px;
}

#how-to {
	background-color: #262626;
	h2, h3 {
		font-family: Avenir Next;
		font-weight: bold;
	}
}

#how-to .fa-stack {
	color: #737375;
}

#how-to p {
	color: #FFFFFF;
	font-size: 25px;
	font-family: Avenir Next;
}

#how-to h2 {
	color: #5CB85C;
	padding: 0px;
	font-size: 30px;
}

#how-to h3 {
	color: #5CB85C;
	padding: 0px;
	font-size: 30px;
}

#why-us {
	background-color: #737375;
	font-family: Avenir Next;
	h2, h3 {
		color: #262626;
		font-weight: bold;
		padding: 0px;
		font-size: 30px;
	}
}

#why-us .fa-stack {
	color: #262626;
}

#why-us p {
	color: #FFFFFF;
	font-family: Avenir Next;
	font-size: 25px;
}

.homepage h2 {
	color: #5CB85C;
	padding: 0px;
	font-size: 30px;
}

.homepage h3 {
	color: #5CB85C;
	/*#019285;*/
	padding: 0px;
	font-size: 30px;
}

@media (min-width: 1500px) {
	#how-to {
		margin-top: 0px;
		margin-right: -200px;
		margin-left: -200px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: -200px;
		margin-left: -200px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}

@media (max-width: 1500px) {
	#how-to {
		margin-top: -20px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}

@media (max-width: 991px) {
	#how-to {
		margin-top: -20px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}

@media (max-width: 767px) {
	#how-to {
		margin-top: -20px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	#why-us {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 2px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}
}
