<<<<<<< HEAD
<br>

<div class="center">
<<<<<<< HEAD
	<p>&copy;Copyright 2014</p>
</div>
=======
<p>Copyright 2013</p>
>>>>>>> parent of b3720ec... Revamped the style of the website
=======
	<p>&copy;Copyright 2013</p>
</div>
>>>>>>> parent of 2bece00... Small style changes on the website
